.listItem{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.friendImgContainer{
    position: relative;
    margin-right: 10px;

}
.imgProfileOnline{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.onlineIcon{
    height: 12px;
    width: 12px;
    background-color: limegreen;
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
    top:-2px;
    right: 0px;
}
.username{
    font-weight: 500;
}
@media screen and (max-width:500px) {
    .imgProfileOnline{
        width: 35px;
        height: 35px;
    }
    .username{
        font-size: 12px;
    }
    .onlineIcon{
        width: 9px;
        height: 9px;
    }
}