.post{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding:10px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.28); 
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.28);
    margin-top: 30px;
}
.postWrapperTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postItem{
    display: flex;
    align-items: center;
}
.userName{
    font-size: 14px;
    margin: 0px 8px;
    font-weight: 500;
}
.date{
    font-size: 12px;
}
.postText{
    margin: 15px 0px;
}
.text{
    font-size: 14px;
}
.postPicture{
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.imgProfilePost{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.postWrapperBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px 0px;
    cursor: pointer;
}
.postBottomLeft{
    display: flex;
    align-items: center;
}
.iconLike{
    font-size: 22px!important;
}
.counter{
    font-size: 15px;
    margin-left: 2px;
}
.postComments{
    font-size: 15px;
    background-color: white;
    border: none;
}
.postComments:focus{
    outline: none;
}
.comments{
    display: flex;
    flex-direction: column;
    
}
.commentsItem{
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}
.commentText{
    display: flex;
    flex-direction: column;
    background-color: #f2f0f5;
    border-radius: 10px;
    padding: 10px;
    width: max-content;
}
.username{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}
.text{
    font-size: 15px;
}
.textInput{
    font-size: 15px;
    color: black;
    border: none;
    background-color: #f2f0f5;
}
.textInput:focus{
    outline:none
}
.imgProfileComment{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}
.newComment{
    display:flex;
    align-items: center;
    margin-top: 10px;
}
.newComment input{
    background-color: #f2f0f5;
    border: none;
    border-radius: 20px;
    width: 85%;
    padding: 12px;
    font-size: 15px;
}
.newComment input:focus{
    outline: none;
}
.iconAction{
    margin-left: 10px;
    color:gray;
}
@media screen and (max-width:500px) {
    .userName{
        font-size: 12px;
    }
    .date{
        font-size: 10px;
    }
}